.page {
  text-align: center;
  padding: 20px;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
}

/* Scope h1, p inside .page */
.page h1 {
  font-size: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.wordCount {
  font-size: 1.2rem;
  margin-top: 1%;
  margin-left: 5%;
  text-align: left; /* Ensure text is aligned left */
  width: 100%; /* Make sure it takes full width */
}

.dictionaryWord {
  margin-top: 8%;
  font-size: 5rem;  /* Adjust the font size as needed */
  font-weight: bold;  /* Makes the word bold */
  padding: 0.4rem;  /* Adds some padding around the word to make the highlight more noticeable */
}

.wordInfo {
  padding: 1%;
  outline: auto;
 display: flex;
 height: 200px;
 width: 40%;
 min-width: 40%;
 margin-top: 2%;
 flex-direction: column;
 align-items: left; /* Vertically align the text */
 gap: 10px; /* Space between part of speech and definition */}

.partOfSpeech {
  font-size: 1.2rem;
  font-style: italic;
}

.definition {
  font-size: 1.2rem;
}

.tierButtons {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  align-items: center; /* Centers the buttons vertically (if needed) */
  gap: 4%; /* Space between the buttons */
  margin-top: 5%;
  width: 80%; /* Ensures the container takes up full width */
}

.tier {
  font-size: 4rem;
  font-weight: bold;
  padding: 2%;
  border-radius: 7%;
  border: none;
  cursor: pointer;
  color: white;
}

/* Tier colors */
.s { background: #F3707B; color: black;}
.a { background: #F7916D; color: black;}
.b { background: #E2CB6D; color: black; }
.c { background: #8CF5A5; color: black;}
.d { background: #7DC7CD; color: black;}
.e { background: #7D86DA; color: black;}
.f { background: #7E66D9; color: black;}

.previousButton {
  font-size: 1.5rem;
  background-color: transparent; /* No background color */
  color: black; /* Set text color */
  border: none; /* Remove border */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 4%;
  text-align: left; /* Align text left */
  display: inline-flex; /* To align items inside the button */
  align-items: center; /* Optional: align icon and text vertically */
  margin-left: 2%;
}

.buttonContainer {
  width: 100%;
}

.previousButton:hover {
  background-color: #d8d8d8; /* Darker shade on hover */
}